In [ ]:
newlist=[]

In [5]:
newlist.append(291)
newlist

[23, 291]

In [6]:
del newlist[1]
newlist

[23]

In [8]:
newlist.insert(3,123) # to check signature shift+tab
newlist

[23, 123, 123]

In [9]:
del newlist[1] #by index
newlist

[23, 123]

In [11]:
newlist.insert(2,'rabia')
newlist

[23, 123, 'rabia']

In [12]:
newlist.insert(3,123)
newlist

[23, 123, 'rabia', 123]

In [13]:
newlist.index(123)

1

In [14]:
newlist.index(23)

0

In [ ]:
#if we don't know where element lies in list then we first find index and then use del opertor

In [15]:
newlist.remove(123)
newlist

[23, 'rabia', 123]

In [16]:
cities=['khi' , 'sgr' , 'lahore' , 'peshawar']

In [17]:
cities.remove('khi') #remove by value
cities

['sgr', 'lahore', 'peshawar']

In [19]:
cities.insert(3,'sgr')
cities

['sgr', 'lahore', 'peshawar', 'sgr']

In [20]:
cities.remove('sgr' , 3)
cities

TypeError: remove() takes exactly one argument (2 given)

In [22]:
marks=[46,3,78,33,89,99,23]
marks

[46, 3, 78, 33, 89, 99, 23]

In [23]:
marks.sort()
marks

[3, 23, 33, 46, 78, 89, 99]

In [25]:
marks.sort(reverse=True)
marks

[99, 89, 78, 46, 33, 23, 3]

In [26]:
cities.sort()
cities

['lahore', 'peshawar', 'sgr', 'sgr']

In [28]:
cities.sort(reverse=True)
cities

['sgr', 'sgr', 'peshawar', 'lahore']

In [30]:
cities.append(3)
cities

['sgr', 'sgr', 'peshawar', 'lahore', 3, 3]

In [32]:
cities.sort()
cities

TypeError: '<' not supported between instances of 'int' and 'str'

In [35]:
list2 = marks
list2

[99, 89, 78, 46, 33, 23, 3]

In [36]:
del marks[2]
list2

[99, 89, 46, 33, 23, 3]

In [38]:
list3=list2.copy()
list3

[99, 89, 46, 33, 23, 3, 499]

In [39]:
list2.append(499) #
list3

[99, 89, 46, 33, 23, 3, 499]

In [40]:
list2

[99, 89, 46, 33, 23, 3, 499, 499]

In [41]:
list2.reverse() #only reverse not sorted 
list2

[499, 499, 3, 23, 33, 46, 89, 99]

In [42]:
list2.clear()
list2

[]

In [44]:
numbers=[29,67,45,3,89,90]
numbers

[29, 67, 45, 3, 89, 90]

In [46]:
x=numbers.pop() #after every single execution 1 numbers pop 
print (x)
print(numbers)

89
[29, 67, 45, 3]

In [50]:
x=numbers.pop() #after every single execution 1 numbers pop 
print (x)
print(numbers)

29
[]

In [51]:
x

29

In [58]:
numbers=[29,67,45,3,89,90]
numbers

[29, 67, 45, 3, 89, 90]

In [59]:
poppedlist=[]
poppedlist

[]

In [62]:
poppedElement= numbers.pop()
poppedlist.append(poppedElement)
print(numbers)
print(poppedlist)

[29, 67, 45]
[3]

In [66]:
poppedElement= numbers.pop()
poppedlist.append(poppedElement)
print(numbers)
print(poppedlist)

IndexError: pop from empty list

In [78]:
if len(numbers) !=0:
    poppedlist.append(numbers.pop())
    print(poppedlist)
else:
    print('Your list is empty')

Your list is empty

# List in List

In [80]:
list4=[19,89,['apple','banana','orange','mango']]
list4

[19, 89, ['apple', 'banana', 'orange', 'mango']]

In [81]:
list4[2][3]

'mango'

In [82]:
list4[2][2]

'orange'

In [83]:
fruits=['orange', 'mango','banana','peach']
fruits

['orange', 'mango', 'banana', 'peach']

In [84]:
students=['ali','haider','rizwan']
students

['ali', 'haider', 'rizwan']

In [104]:
abc=[23,89,3,students,fruits,'abcd']
abc

[23,
 89,
 3,
 ['ali', 'haider', 'rizwan'],
 ['orange', 'mango', 'banana', 'peach'],
 'abcd']

In [105]:
abc[4].remove('orange')
abc

[23, 89, 3, ['ali', 'haider', 'rizwan'], ['mango', 'banana', 'peach'], 'abcd']

In [106]:
cities

['lahore', 'peshawar', 'sgr', 'sgr', 3, 3]

In [107]:
cities.append(['ali', 378 , 'hussain'])
cities

['lahore', 'peshawar', 'sgr', 'sgr', 3, 3, ['ali', 378, 'hussain']]

In [108]:
del cities[6][0]
cities

['lahore', 'peshawar', 'sgr', 'sgr', 3, 3, [378, 'hussain']]

# Slicing