# TUPPLES

In [ ]:
#TUPPLE ARE IMUTABLE

In [4]:
my_tupple=(1,4,6,7)
type(my_tupple)

tuple

In [2]:
len(my_tupple)

4

In [5]:
my_tupple[2:4]

(6, 7)

In [ ]:
#Packing & UnPacking In list & tupple

In [7]:
a=["rabia","hadiya","yura","naureen"]
w,x,y,z=a
z

'naureen'

In [8]:
y

'yura'

In [9]:
rectangle=[100,300]
height,width=rectangle
height

100

# LOOP

In [2]:
print("rabia")
print("rabia")
print("rabia")
print("rabia")
print("rabia")
print("rabia")

rabia
rabia
rabia
rabia
rabia
rabia

In [3]:
#to avoid repeatedly writing of code 
for a in range(10):
    print("rabia hashim")

rabia hashim
rabia hashim
rabia hashim
rabia hashim
rabia hashim
rabia hashim
rabia hashim
rabia hashim
rabia hashim
rabia hashim

In [5]:
for a in range(1,10,2): #start:end-1:steps
    print(a, "rabia")

1 rabia
3 rabia
5 rabia
7 rabia
9 rabia

In [9]:
for a in range(10,1,-2):
    print(a,"rabia")

10 rabia
8 rabia
6 rabia
4 rabia
2 rabia

In [10]:
my_list=["rabia","hadiya","naureen"]
for i in my_list:
    print(i)

rabia
hadiya
naureen

In [11]:
my_fav_num=[4,6,8,10]
for i in my_fav_num:
    print(i*3)

12
18
24
30

In [14]:
my_fav_num=[4,6,8,10]
my_new_list=[]
for i in my_fav_num:
    my_new_list.append(i*3)
print(my_new_list)

[12, 18, 24, 30]

In [ ]:
#break(loop end at particular condition)
#continue(only skips that condition & ret of code execute)
#pass

In [15]:
for i in range(9):
    if i==3:
        break
    print(i)

0
1
2

In [16]:
for i in range(9):
    if i==3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [18]:
for i in range(9):
        pass

In [31]:
num=int(input("Enter a number:"))
for i in range (1,11):
    print(num*i)

Enter a number:3
3
6
9
12
15
18
21
24
27
30

In [30]:
num=int(input("Enter a number:"))
for i in range (1,11):
    print(f" {num}*{i} = {num*i}")

Enter a number:5
 5*1 = 5
 5*2 = 10
 5*3 = 15
 5*4 = 20
 5*5 = 25
 5*6 = 30
 5*7 = 35
 5*8 = 40
 5*9 = 45
 5*10 = 50

# nested for loop

In [37]:
for a in "Pakistan":
    for b in range(2):
        print(a , b )

P 0
P 1
a 0
a 1
k 0
k 1
i 0
i 1
s 0
s 1
t 0
t 1
a 0
a 1
n 0
n 1

In [39]:
f_group_mates_name=["rabia","hadiya","yura","muniba","naureen"]
l_group_mates_name=["hashim","vayani","hassan","tanveer","baqa"]
full_group_mates_name=[]
for f in f_group_mates_name:
    for l in l_group_mates_name:
        full_group_mates_name.append(f+ " " +l)
full_group_mates_name

['rabia hashim',
 'rabia vayani',
 'rabia hassan',
 'rabia tanveer',
 'rabia baqa',
 'hadiya hashim',
 'hadiya vayani',
 'hadiya hassan',
 'hadiya tanveer',
 'hadiya baqa',
 'yura hashim',
 'yura vayani',
 'yura hassan',
 'yura tanveer',
 'yura baqa',
 'muniba hashim',
 'muniba vayani',
 'muniba hassan',
 'muniba tanveer',
 'muniba baqa',
 'naureen hashim',
 'naureen vayani',
 'naureen hassan',
 'naureen tanveer',
 'naureen baqa']

In [40]:
"iran".upper()

'IRAN'

In [42]:
"IRAN".lower()

'iran'

In [43]:
str="PAKISTANI CRICKET TEAM WON TODAY'S MATCH"
len(str)

40

In [46]:
str[23:27]

'WON '

# Dictionaries

In [47]:
adict={}
type(adict)

dict

In [51]:
adict['name']="hadiya vayani"
adict['age']=20
adict

{'name': 'hadiya vayani', 'age': 20}

In [54]:
adict['name']="hadiya vayani"
adict['age']=20
del adict['age']
adict

{'name': 'hadiya vayani'}

In [56]:
#key & value both can be integer can be string
bdict=['city':"khi" , 'pop':45678 , 'city':"lahore"]
bdict

SyntaxError: invalid syntax (<ipython-input-56-0bb0e0353162>, line 2)

In [57]:
for key in adict.keys():
    print(key)

name

In [ ]:
#key()
#value
#item()

In [62]:
adict['name']="hadiya vayani"
adict['age']=20
adict

{'name': 'hadiya vayani', 'age': 20}

In [59]:
for value in adict.values():
    print(value)

hadiya vayani

In [63]:
for value,key in adict.items():
    print(value,key)

name hadiya vayani
age 20

# Creating A list of dictionaries

In [64]:
dlist=[3,46,7,{'fruits':"apple" , 'food':"macrooni"}]
dlist[3]

{'fruits': 'apple', 'food': 'macrooni'}

In [67]:
dlist[3]['food'] #in dictionary we key not index

'macrooni'

In [2]:
'food' in dlist

NameError: name 'dlist' is not defined