In [ ]:
#two types of data (i) integers (ii) characters

In [1]:
name=123
type(name)

int

In [ ]:
#Variables

In [2]:
name='rabia'
print(name)

rabia

In [ ]:
#Boolean data type (predefined function without quotations are boolean data)
#(data in quotations are strings)

In [4]:
name='true'
print(name)

true

In [5]:
name="123"
type(name)

str

In [ ]:
#variables cannot be started from numbers .
#Keyword cannot be used as variables .
#Underscore(_) is also a variable.

In [6]:
_=123
print(_)

123

In [ ]:
#Operators

In [7]:
a=3
b=4
print(a+b)

7

In [8]:
a=3
b=4
print(a-b)

-1

In [9]:
a=3
b=4
print(a*b)

12

In [10]:
a=3
b=4
print(a/b) # show decimal part

0.75

In [11]:
a=3
b=4
print(a//b) # drop decimal part

0

In [15]:
a=16
b=3
print(a%b) #it returns remainder

1

In [16]:
a+3

19

In [18]:
a=a+3
a

22

In [19]:
#increment operator
a+=5
print(a)

27

In [20]:
#precidence
(3+2)*2+5/2

12.5

In [21]:
#power/exponent
3**3

27

In [22]:
(3+2)*2+5**2/2

22.5

In [23]:
a<b

False

In [24]:
a>b

True

In [25]:
a!=b

True

In [26]:
#Concatenating text strings
first_name='rabia'
last_name='hashim'
print(first_name+" "+last_name)

rabia hashim

In [27]:
print('abc'+123) #string can be concatenated but not integer

TypeError: can only concatenate str (not "int") to str

In [1]:
a=10.0
type(a)

float

In [2]:
str(a)

'10.0'

In [3]:
#typecasting (integer changed into number)
print("the number is " +str(a))

the number is 10.0

In [36]:
name= 'rabia'
age= 20
print("my name is " +name+ " and my age is " +str(age))

my name is rabia and my age is 20

In [5]:
#format(do not need type casting)
name='rabia'
age=20
print('My name is {} and my age is {}.'.format(name,age))

My name is rabia and my age is 20.

In [7]:
#indexing starts from zero and for age it starts from one
print(f'my name is {name} and my age is {age}.')

my name is rabia and my age is 20.