In [ ]:
#Compiler=>=>checks whole code while interpretor==>line by line checking
#python is interpreted language #case sensitive language

# Print

In [ ]:
#print is a function which shows output of our given input on our console

In [1]:
print(10000) #takes more than one arguments

10000

In [2]:
print(123,12.3) #integer, floating data

123 12.3

In [3]:
print("hello pakistan") #text data

hello pakistan

In [4]:
print("123 pakistan") #alphanumeric data

123 pakistan

In [5]:
print("pakistan","python") #by default sep=" "

pakistan python

In [7]:
print("pakistan","python", sep="@")

pakistan@python

In [8]:
print("hello world1")
print("hello world2")
print("hello world3")

hello world1
hello world2
hello world3

In [9]:
print("hello world1",end="")
print("hello world2",end="")
print("hello world3")

hello world1hello world2hello world3

# Variables & Strings

In [ ]:
#variables are place holder

In [10]:
a=10
#a is a variable name(identifier)
# = is the assignment operator
# 10 value (integer value)

In [11]:
print(a)

10

In [12]:
a=10.6
print(a)

10.6

In [13]:
type(a)

float

In [15]:
city="sanghar"
type(city)

str

In [16]:
student_name='rabia'
father_name='hashim'
print(student_name+father_name)

rabiahashim

In [17]:
num1=12
num2=13
sum=num1+num2
print(sum)

25

# Mathematical Operators

In [ ]:
#operators(+,-,*,/)

In [18]:
a=23
b=34
sum=a+b
print(sum)

57

In [19]:
print(23+34)

57

In [20]:
num1=100
num2=10.5
num3=num2-num1
print(num3)

-89.5

In [21]:
num3=num1/num2
num3  #bydefault division ans is floating

9.523809523809524

In [24]:
num3=num1//num2
print(num3) #integer division

9.0

In [25]:
value1=100
value2=200
value3=value1//value2
print(value3)

0

In [26]:
#in string + is not addition it is concatenation
a='123'
b='456'
print(a+b)

123456

# IF ELSE STATEMENTS

In [27]:
a=100
b=200
if a<b: #returns true
    print("a is less than b")
    print("hello A")
    print("hello B")
print("hello python")

a is less than b
hello A
hello B
hello python

In [29]:
if b<a: #returns false
    print("hello")

# COMMENTS

In [ ]:
#comments are the lines which provide user about info of code
#not written in the form of code
single line comment by using # sign
multiple line comment by using '''

In [33]:
''' this a multiple line commment which is used in a lengthy code to provide detailed info about the code'''

' this a multiple line commment which is used in a lengthy code to provide detailed info about the code'

# USER INPUT

In [34]:
a=input("Enter a number")
b=input("Enter another number")
c=a+b
print(c)

Enter a number10
Enter another number20
1020

In [ ]:
#it is b/c the input is considered as a string + is used as a concatenation
#therefore type casting is important

In [35]:
x=int(a)
y=int(b)
c=x+y
print(c)

30

# LISTS

In [ ]:
#bunch of values are stored in a single variable which is called as list

=>>>>Common List Operations<<<<=
1) Access Value
2) Add new value at the end/tail of list
3) Find index of list
4) Slicing elements from list
5) Deleting & removing elements from list
6) Popping elements from list

In [36]:
alist=["rabia","hadiya","yusra"]
alist

['rabia', 'hadiya', 'yusra']

In [37]:
alist[1]

'hadiya'

In [39]:
cities=['khi','lahore','multan','quetta']

In [40]:
#how to access the members

In [41]:
cities[3]

'quetta'

In [42]:
fruits=[]
len(fruits)

0

In [43]:
len(cities)

4

In [ ]:
#Adding member to the list (insert & append)

In [44]:
fruits.append("apple") #takes only one argument

In [45]:
fruits

['apple']

In [46]:
fruits.append("orange") #add at the end

In [51]:
fruits.append("orange" , "pineapple")

TypeError: append() takes exactly one argument (2 given)

In [47]:
fruits

['apple', 'orange']

In [ ]:
fruits.insert()

In [49]:
fruits.insert(3,"mango") takes only index and data to insert

In [50]:
fruits

['apple', 'orange', 'mango']

In [52]:
fruits.extend(["pineapple","cherry","blueberry"])
fruits

['apple', 'orange', 'mango', 'pineapple', 'cherry', 'blueberry']

In [53]:
fruits.count("apple")

1

In [54]:
fruits.index("cherry")

4

In [55]:
fruits.clear() #deletes permanently

In [56]:
fruits

[]

In [57]:
fruits=["pineapple","cherry","blueberry"]

In [59]:
fruits1=fruits.copy() #by value

In [60]:
fruits1

['pineapple', 'cherry', 'blueberry']

In [61]:
fruits2=fruits #by referrence

In [62]:
fruits2

['pineapple', 'cherry', 'blueberry']

In [63]:
fruits.append("banana")
fruits2

['pineapple', 'cherry', 'blueberry', 'banana']

In [ ]:
#removing an item from list (del & remove, pop)

In [65]:
del fruits2[2]
fruits2

['pineapple', 'cherry']

In [68]:
fruits1.remove("cherry")
fruits1

['pineapple']

In [69]:
cities

['khi', 'lahore', 'multan', 'quetta']

In [70]:
poppedCity=cities.pop()
print(f"this city is popped from the list {poppedCity}")
print(f"The remaining cities are {cities}")

this city is popped from the list quetta
The remaining cities are ['khi', 'lahore', 'multan']

In [71]:
poppedCity=cities.pop()
print(f"this city is popped from the list {poppedCity}")
print(f"The remaining cities are {cities}")

this city is popped from the list multan
The remaining cities are ['khi', 'lahore']

In [72]:
poppedCity=cities.pop()
print(f"this city is popped from the list {poppedCity}")
print(f"The remaining cities are {cities}")

this city is popped from the list lahore
The remaining cities are ['khi']

In [73]:
poppedCity=cities.pop()
print(f"this city is popped from the list {poppedCity}")
print(f"The remaining cities are {cities}")

this city is popped from the list khi
The remaining cities are []

In [74]:
cities=['khi','lahore','multan','quetta']

In [75]:
poppedCity=cities.pop(2)
poppedCity

'multan'

In [77]:
cities.sort()
cities

['khi', 'lahore', 'quetta']

In [78]:
cities.sort(reverse=True) #in descending order
cities

['quetta', 'lahore', 'khi']

# Slicing the elements from list

In [79]:
arr=[11,32,23,42,50]
arr

[11, 32, 23, 42, 50]

In [80]:
arr[1:3]

[32, 23]

In [81]:
#index         0       1       2        3       4         5         6
students=["hadiya","rabia","muniba","yusra","naureen","zainab","maryam"]
#index       -7       -6      -5        -4     -3          -2      -1

In [83]:
students[4]

'naureen'

In [84]:
students[-3]

'naureen'

In [85]:
students[1:3]

['rabia', 'muniba']

In [87]:
students[1:-4]

['rabia', 'muniba']

In [88]:
students[:]

['hadiya', 'rabia', 'muniba', 'yusra', 'naureen', 'zainab', 'maryam']

In [89]:
students[3:]

['yusra', 'naureen', 'zainab', 'maryam']

In [90]:
students[-4:]

['yusra', 'naureen', 'zainab', 'maryam']

In [91]:
students[-1:-4] #no error of wrong index only returns null list

[]

In [92]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [94]:
nums[0:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [98]:
nums[0::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [96]:
nums[::5]

[1, 6, 11, 16]

# TUPLES

In [99]:
#tuples are just like list but it is immuteable you cannot add delete , change elemnts after creation

In [100]:
atupple=("hamna",123,"hania")
atupple

('hamna', 123, 'hania')

In [101]:
type(atupple)

tuple

In [102]:
len(atupple)

3

In [108]:
a=45,12,90
a

(45, 12, 90)

In [109]:
type(a)

tuple

In [110]:
a.index(12)

1